<div class="footer-epigraph">
  <p class="quote">
    “We are like people drawn inside of a square on a piece of paper. We cannot
    get out of the black lines, we exhaust ourselves by examining every part of
    the square, hoping to find a fissure. Until one of us suddenly understands,
    because he was predestined to understand, that within the plane of the paper
    escape is impossible. That the exit, simple and open wide, is perpendicular
    to the paper, in a third dimension that up until that moment was
    inconceivable."
  </p>

  <p class="author">— Mircea Cărtărescu, Solenoid</p>
</div>
