<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }} •
        {{ .Site.Title }}
      {{ end }}
    </title>
    <meta
      name="description"
      content="{{ with .Description }}
        {{ . }}
      {{ else }}
        {{ .Site.Params.description }}
      {{ end }}
      "
    />

    {{/* CSS Pipeline */}}
    {{ $styles := slice
      (resources.Get "css/tokens/colors.css")
      (resources.Get "css/tokens/spacing.css")
      (resources.Get "css/tokens/layout.css")
      (resources.Get "css/tokens/typography.css")
      (resources.Get "css/tokens/radius.css")
      (resources.Get "css/tokens/elevation.css")
      (resources.Get "css/tokens/times.css")
      (resources.Get "css/tokens/gradients.css")
      (resources.Get "css/tokens/shadows.css")
      (resources.Get "css/tokens/overlays.css")
      (resources.Get "css/variables/variables.css")
      (resources.Get "css/base/typography.css")
      (resources.Get "css/base/fonts.css")
      (resources.Get "css/layout/grid.css")
      (resources.Get "css/layout/page.css")
      (resources.Get "css/layout/single.css")
      (resources.Get "css/layout/list.css")
      (resources.Get "css/layout/about.css")
      (resources.Get "css/layout/project.css")
      (resources.Get "css/layout/docs.css")
      (resources.Get "css/layout/responsive.css")
      (resources.Get "css/components/header.css")
      (resources.Get "css/components/footer.css")
      (resources.Get "css/components/hero.css")
      (resources.Get "css/components/buttons.css")
      (resources.Get "css/components/cards.css")
      (resources.Get "css/components/time.css")
      (resources.Get "css/components/code.css")
      (resources.Get "css/components/tables.css")
      (resources.Get "css/components/tags.css")
      (resources.Get "css/components/toc.css")
      (resources.Get "css/components/syntax.css")
      (resources.Get "css/components/blockquotes.css")
      (resources.Get "css/components/callouts.css")
      (resources.Get "css/components/lists.css")
      (resources.Get "css/components/images.css")
      (resources.Get "css/components/modal.css")
      (resources.Get "css/components/search.css")
      (resources.Get "css/components/mosaic.css")
      (resources.Get "css/components/logo.css")
      (resources.Get "css/components/terms.css")
      (resources.Get "css/components/language-stack.css")
      (resources.Get "css/components/status.css")
      (resources.Get "css/components/project-symbol.css")
      (resources.Get "css/components/timeline.css")
      (resources.Get "css/components/anchors.css")
      (resources.Get "css/components/hexagon.css")
      (resources.Get "css/components/paginator.css")
      (resources.Get "css/modules/latex.css")
      (resources.Get "css/modules/table.css")
      (resources.Get "css/modules/datablock.css")
      (resources.Get "css/modules/progress.css")
      (resources.Get "css/modules/contact-form.css")
      (resources.Get "css/classes/glass.css")
      (resources.Get "css/main.css")
    }}

    {{ $css := $styles | resources.Concat "css/bundle.css" | minify | fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $css.RelPermalink }}"
      integrity="{{ $css.Data.Integrity }}"
    />

    <style>
      html,
      body {
        max-width: 100%;
      }
    </style>

    {{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}


    <link
      rel="icon"
      href="{{ "/site/favicon-v2-dark.ico" | relURL }}"
      type="image/x-icon"
    />
  </head>

  <body>
    {{ partial "header.html" . }}


    <main class="main-content">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ $js := resources.Get "js/main.js" | js.Build (dict "minify" true) }}
    <script
      src="{{ $js.RelPermalink }}"
      integrity="{{ $js.Data.Integrity }}"
      defer
    ></script>
  </body>
</html>
