.card-tag-section {
  margin-top: var(--space-md);
}

.card-tag-group + .card-tag-group {
  margin-top: var(--space-sm);
}

.card-tag-heading {
  font-size: var(--text-xs);
  font-family: var(--font-mono);
  color: var(--fg-muted);
  text-transform: uppercase;
  margin-bottom: 0.25em;
  letter-spacing: 0.05em;
}

/* Card Tags Div */
.card-tags {
  padding: var(--space-sm) 0;
}

/* Base tag style */
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  font-weight: 300;
  line-height: 1.2;
  padding: var(--space-xs) var(--space-sm);
  margin-right: var(--space-xs);
  margin-bottom: var(--space-sm);
  border-radius: var(--radius-default);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border: 1px solid var(--fg-primary);
  box-shadow: var(--shadow-sm);
  transition:
    background-color var(--transition-default) ease,
    color var(--transition-default) ease,
    border-color var(--transition-default) ease;
}

/* Post Type badge */
.tag--type {
  /* background-color: var(--bg-primary); */
  /* color: var(--accent-blue); */
  /* border-color: var(--accent-blue); */
  -webkit-backdrop-filter: blur(60px);
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(39, 39, 39, 0.1);
  border-radius: var(--radius-default);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}
.tag--type:hover {
  background-color: var(--accent-blue);
  border-color: var(--accent-blue);
  color: var(--bg-primary);
}

/* Category badge */
.tag--category {
  background-color: transparent;
  color: var(--fg-muted);
  border-color: var(--fg-muted);
}
.tag--category:hover {
  background-color: var(--fg-muted);
  color: var(--bg-primary);
}

/* Tag label */
.tag--label {
  background-color: transparent;
  color: var(--fg-muted);
  border-color: var(--fg-muted);
}
.tag--label:hover {
  background-color: var(--fg-muted);
  color: var(--bg-primary);
}
