<div class="footer-level2 footer-level">
  <div class="footer-column">
    <h3 class="footer-heading">Get Started</h3>
    <a class="footer-link" href="/docs/">Docs</a>
    <a
      class="footer-link"
      href="{{ .Site.Params.repoURL }}"
      target="_blank"
      rel="noopener"
      >GitHub</a
    >
  </div>
  <div class="footer-column">
    <h3 class="footer-heading">Collaborate</h3>
    <a class="footer-link" href="/docs/contributing/how-to-contribute/">Contributing</a>
    <a class="footer-link" href="/docs/releases/release-cycle">Release Cycle</a>
  </div>
  <div class="footer-column">
    <h3 class="footer-heading">Learn More</h3>
    <a class="footer-link" href="/about/">About</a>
    <a class="footer-link" href="/contact/">Contact</a>
  </div>
</div>
