{{ if and (gt .WordCount 400) .TableOfContents }}
  <aside class="toc">
    <div class="toc-header">
      <div class="toc-title">Table of Contents</div>
      <button
        class="toc-toggle"
        title="Toggle TOC"
        aria-label="Toggle Table of Contents"
        onclick="this.closest('.toc').querySelector('.toc-content').classList.toggle('collapsed')"
      >
        ⌾
      </button>
    </div>
    <div class="toc-scroll-wrapper js-toc-fade">
      <div class="toc-content">
        {{ $toc := .TableOfContents }}
        {{ $toc = replaceRE `<a href="([^"]+)"` `<a class="toc-link" href="$1"` $toc }}
        {{ $toc | safeHTML }}
      </div>
      <div class="toc-fade-bottom"></div>
    </div>
  </aside>
{{ end }}
