@media (min-width: 480px) {
  .grid--2,
  .grid--3,
  .grid--4 {
    grid-template-columns: repeat(1, 1fr);
  }
  h1 {
    font-size: var(--font-size-5);
  }

  .pillars-container {
    padding: 0 2rem;
  }
  .pillar-label {
    font-size: var(--font-size-1);
  }
}

@media (min-width: 640px) {
  .grid--2,
  .grid--3,
  .grid--4 {
    grid-template-columns: repeat(1, 1fr);
  }
  h1 {
    font-size: var(--font-size-5);
  }
  .pillars-container {
    padding: 0 2rem;
  }
  .pillar-label {
    font-size: var(--font-size-1);
  }
}

@media (min-width: 768px) {
  .grid--2,
  .grid--3,
  .grid--4 {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: var(--font-size-6);
  }
  .pillars-container {
    padding: 0 1rem;
  }
  .pillar-label {
    font-size: var(--font-size-1);
  }
}

@media (min-width: 1024px) {
  .grid--2,
  .grid--3,
  .grid--4 {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: var(--font-size-7);
  }
}

@media (min-width: 1280px) {
  .grid--2,
  .grid--3,
  .grid--4 {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    font-size: var(--font-size-7);
  }
}

@media (min-width: 1536px) {
  .grid--2,
  .grid--3,
  .grid--4 {
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    font-size: var(--font-size-7);
  }
}
