.codeBlock {
  border-radius: 5px;
  font-size: 16px;
  margin: 16px 0;
  overflow: hidden;
  border: 1px solid var(--gray-3);
  position: relative;
}

.codeBlock code {
  padding: 16px;
  /* Fix for https://github.com/ghostty-org/website/issues/312
  * In the case a user has custom fonts disabled, this ensures
  * that the code block is still readable. 
  *
  * Additionally, `inherit` here didn't seem to be working? So we're
  * setting the font-family explicitly. 
  */
  font-family: var(--jetbrains-mono), monospace;
}

.copyButton {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: var(--gray-2);
  padding: 4px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  color: var(--gray-6);
  opacity: 0;
}

.codeBlock:hover .copyButton,
.copyButton:focus {
  opacity: 1;
}

.copyButton:hover {
  background-color: var(--gray-3);
}

.copyButtonSuccess {
  color: var(--atom-one-green);
}
